main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-404 {
    max-width: 50%;
    max-height: 50%;
}

.return-button {
    color: rgb(230, 230, 230);
    text-decoration: none;
    background: rgb(120, 120, 120);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.return-button:hover {
    background: rgb(166, 0, 0);
    color: black;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}

.dark-mode .return-button {
    background: rgb(200, 200, 200);
    color: black;
}

.dark-mode .return-button:hover {
    background: rgb(166, 0, 0);
    color:rgb(230, 230, 230);
}

@media only screen and (max-width: 800px) {
    #image-404 {
        max-width: 75%;
        max-height: 75%;
    }
}

@media only screen and (max-width: 500px) { /* 500px */
    #image-404 {
        max-width: 100%;
        max-height: 100%;
    }
}