h2 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

main p {
    font-size: 20px;
}

input {
    width: 300px;
    padding: 5px;
    font-family: Roboto, Arial, sans-serif;
}

.who, .what, .newsletter {
    margin-top: 10px;
    margin-bottom: 30px;
}

.who {
    margin-right: 50%;
}

.what {
    margin-left: 50%;
}

.what h2 {
    text-align: right;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.checkbox p {
    margin-top: 0;
}

.checkbox input {
    width: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button {
    width: auto;
    background-color: #33B887;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
}

.dark-mode .button {
    color: rgb(230, 230, 230);
}

.hidden {
    display: none;
}

#popup {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(120, 120, 120);
    border: 0;
    border-radius: 20px;
    padding: 20px;
    z-index: 999;
}

#popup .close {
    margin-top: 15px;
    background: rgb(118, 221, 0);
    color: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 50px;
}

#popup .close:hover {
    background: rgb(98, 201, 0);
}

#popup p {
    margin: 0;
    text-align: center;
}

.dark-mode #popup {
    background-color: rgb(230, 230, 230);
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .who, .what, .newsletter {
        margin-left: 0;
        margin-right: 0;
    }
    
    .what h2, h2 {
        text-align: center;
    }
}