.wichtig {
    text-align: center;
    margin-bottom: 80px;
}

.wichtig h2 {
    color: red;
    font-size: 30px;
}

.wichtig p {
    font-weight: bold;
    font-size: 25px;
}

.informational h3 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

.informational p {
    font-weight: normal;
    font-size: 20px;
}

.section {
    margin-top: 60px;
}

.cc-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.copyright {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 10px;
    background: rgb(50, 50, 50);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 15px;
    width: 400px;
    align-items: center;
}

.cc-link {
    color: rgb(230, 230, 230);
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cc-parts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.cc-part1 {
    margin-bottom: 0;
    color: rgb(0, 174, 255);
}

.cc-part2 {
    margin-top: 0;
    color: rgb(175, 175, 175);
}

.cc3 {
    color: rgb(175, 175, 175);
}

.cc-size-arrow {
    font-size: 35px;
}

#cc-link-lizenz-text {
    color:rgb(0, 174, 255);
}

.dark-mode #cc-link-lizenz-text {
    color: #0066CC;
}

.dark-mode .copyright {
    background: rgb(230, 230, 230);
}

.dark-mode .cc-part1{
    color: #0066CC;
}

.dark-mode .cc-part2 , .dark-mode .cc3, .dark-mode .cc-link {
    color: black;
}

.fa-chevron-right {
    margin-right: 10px;
}

@media only screen and (max-width: 650px) {
    #validator-warning {
    width: 100%;
}
}

@media only screen and (max-width: 450px) {
    .copyright {
        width: 250px;
    }
}