table {
    border: 2px solid black;
    padding: 0;
    height: 100%;
    width: 100%;
}

th {
    margin: 0;
    background-color: rgb(230, 230, 230);
    color: black;
    height: 60px;
    font-size: 30px;
}

td {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 485px) {
    th {
        font-size: 20px;
        height: 40px;
    }

    td {
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 400px) {
    table {
        max-width: 100%;
    }

}