* {
    font-family: 'Roboto', Arial, sans-serif;
}

:root {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(70, 70, 70);
    color: rgb(230, 230, 230);
}

main {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 20%;
    margin-right: 20%;
}

.centerText {
    text-align: center;
}

#main-title {
    font-size: 65px;
}

#top {
    border: 0;
    margin: 0;
    padding: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Header */
header {
    background-color: rgb(196, 0, 0);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 75px;
}

header p {
    color: black;
}

header h1 {
    margin-left: auto;
}

.box {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 75px;
    width: 75px;
}

/* Footer */
footer {
    background-color: rgb(196, 0, 0);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials {
    margin-left: auto;
}

#footer-impressum {
    color: rgb(230, 230, 230);
    text-decoration: none;;
    margin-left: auto;
    border: none;
    cursor: pointer;
    background: none;
}

#footer-impressum:hover{
    text-decoration: underline;
}

/* Font Awesome */
footer .fa {
    font-size: 20px;
    padding: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 5px 2px;
    margin-left: auto;
    border-radius: 50%;
}

footer .fa:hover {
    background-color: rgb(70, 70, 70);
}

.fa-youtube {
    background-color: #BB0000;
}

.fa-youtube:hover {
    color: #BB0000;
}

.fa-twitter {
    background-color: #55ACEE;
}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-linkedin {
    background-color: #007BB5;
}

.fa-linkedin:hover {
    color: #007BB5;
}

.fa-instagram {
    background: #b5008e;
}

.fa-instagram:hover {
    color: #b5008e;
}

.fa-twitch {
    background: #5c16c5;
}

.fa-twitch:hover {
    color: #5c16c5;
}

.fa-github {
    background: #222;
}

.fa-github:hover {
    color: #222;
}

header .fa {
    padding: 10px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    color: rgb(230, 230, 230);
    margin: 5px 2px;
    margin-left: auto;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    font-size: 25px;
}

.material-symbols-outlined {
    margin-left: auto;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;

    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.left-margin {
    margin-left: auto;
}

/* Settings Menu */
.settings-popup {
    display: none;
    position: absolute;
    background-color: rgb(90, 90, 90);
    top: 100px;
    right: 31px;
    border: 2px solid rgb(70, 70, 70);
    z-index: 9;
    border-radius: 20px;
    max-width: 250px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px  rgba(0, 0, 0, 0.2);
}

.show {
    display: block;
}

.settings-popup p {
    color: rgb(230, 230, 230);
}

.settings-popup a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.settings-popup a:hover {
    text-decoration: underline;
    color: rgb(200, 200, 200)
}

.selected-lang {
    color: rgb(150, 150, 150);
}

.dark-mode .settings-popup a {
    color: black;
}

.dark-mode .settings-popup a:hover {
    text-decoration: underline;
    color: rgb(70, 70, 70);
}

.settings-popup div {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.settings-popup hr {
    margin-top: 0;
}

.settings-popup h4 {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.settings-popup p {
    margin-left: 10px;
    margin-right: 10px;
}

.settings-popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.settings-popup #button-icon {
    margin-top: 5px;
    margin-bottom: 5px;
}

.appearance-setting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: ; */
}

#language {
    text-decoration: line-through;
}

.dark-mode-button {
    margin: 5px;
    cursor: pointer;
    height: 25px; /* 34px */
    width: 50px; /* 68px */
}

#button-icon {
    height: 100%;
    width: 100%;
}

#settings-icon:hover {
    background-color: rgb(166, 0, 0);
}

#close-settings-icon:hover {
    background: rgb(70, 70, 70);
}

/* Dark Mode */
.dark-mode {
    background-color: white;
    color: black;
}

.dark-mode #footer-impressum {
    color: black;
}

.dark-mode header .fa {
    color: black;
}

.dark-mode #close-settings-icon:hover {
    background-color: white;
}

.dark-mode .settings-popup {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(200, 200, 200);
}

.dark-mode .settings-popup p {
    color: black;
}

.dark-mode footer .fa:hover {
    background-color: white;
}

/* Back to top Button */
#back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    background:rgb(196, 0, 0);
    border: 3px solid rgb(106, 0, 0);
    color: black;
    text-decoration: none;
    padding-bottom: 12px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 50%;
    opacity: 0.7;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#back-to-top:hover {
    opacity: 1;
}

/* Responsiveness */
@media only screen and (max-width: 1550px) {
    main {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1350px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 1005px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 620px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }

    #main-title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 485px) {
    .socials .fa {
        font-size: 15px;
        padding: 7px;
        width: 15px;
    }
}

@media only screen and (max-width: 410px) {
    header {
        margin-top: 0;
    }

    .settings-popup {
        top: 33px;
        right: 31px;
    }

    .socials .fa {
        font-size: 10px;
        padding: 5px;
        width: 11px;
    }
}