#navbar {
/* background-color: #282833; */
    background-color: rgba(40, 40, 51, 0.85);
    color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    max-height: 55px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px; /* Change this value as needed */
    margin: 0;
    padding: 10px 5px;
    border-radius: 15px;
    top: 5px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#navbar li {
    position: relative;
    display: inline-block;
    margin: 5px 5px;
    background-color: #777788;
    border-radius: 5px;
}

#navbar a {
    display: block;
    color: rgb(230, 230, 230);
    text-decoration: none;
    padding: 8px 16px;
}

#navbar a:hover,
#navbar li.active a {
    background-color: #be6b6b;
    color: #333;
    border-radius: 5px;
}

.active {
    background-color: #333;
    color: red;
    border-radius: 5px;
    
}

#navmenu-button {
    margin-left: auto;
    padding: 5px;
    width: 40px;
    text-align: center;
    visibility: hidden;
    font-size: 30px;
    cursor: pointer
}

#navmenu-button:hover {
    background: rgb(166, 0, 0);
    border-radius: 50%;
    
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media only screen and (max-width: 485px) {
    /* For mobile phones: */
    #navbar a {
        padding: 4px 8px;
    }
}

@media only screen and (max-width: 410px) {
    /* For mobile phones: */
    #navbar {
        visibility: hidden;
    }

    #navmenu-button {
        visibility: visible;
    }
}
  