h2 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

main p {
    margin-top: 0;
    margin-bottom: 20px;
}

main a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

a:hover {
    color: rgb(190, 190, 190);
}

h3 {
    margin-left: 10px;
    margin-right: 40px;
}

iframe {
    border: 0;
    width: 560px;
    height: 315px;
}

.vinactive {
    width: 19.6%; /*298px*/
    height: 100%; /*168px*/
    cursor: pointer;
}

#vactive {
    width: 100%; /*1509px*/
    height: 849px; /*849px*/
}

.projekte {
    margin-top: 10px;
    margin-bottom: 50px;
}

.partner {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sponsor {
    margin-top: 50px;
    margin-bottom: 10px;
}

.collaboration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.collaboration img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.collaboration h3 {
    font-size: 30px;
}

.dark-mode main a {
    color: black;
}

.dark-mode main a:hover {
    color: rgb(70, 70, 70);
}

@media only screen and (max-width: 1005px) {
    /* For mobile phones: */
    #vactive {
        height: 443px;
    }

    .vinactive {
        width: 32%;
    }
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    #vactive {
        height: 270px; /*270*/
    }
}

@media only screen and (max-width: 440px) {
    /* For mobile phones: */
    .collaboration h3 {
        font-size: 20px;
    }

    .collaboration img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
}
