body {
  background-color: #494960;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 50px;
}

section {
  height: 1500px;
  padding: 20px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.5;
}
