.tab {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Style the tab buttons */
.tab button {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 18px;
  margin-right: 5px;
}

/* Change the background color of active tab button */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}

/* Show the active tab content */
.tabcontent.active {
  display: block;
}
